@import "variables";

.form-section {
    padding: 15px 0;

    .row {
        margin-top: 15px;
    }

    h3 {
        font-family: $title-font;
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
    }
}

