<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Menu" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Générateur de fiches de monstres D&D</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" [opened]="sidebarOpened">
        <mat-action-list>
            <button mat-list-item [routerLink]="['/', 'generator']">Générateur</button>
            <button mat-list-item [routerLink]="['/', 'library']">Bestiaire</button>
        </mat-action-list>
    </mat-drawer>
    <mat-drawer-content>
        <ng-container *ngTemplateOutlet="mainContent"></ng-container>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #mainContent>
    <div id="main-content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>

