/* You can add global styles to this file, and also import other style files */

@import "variables";

* { box-sizing: border-box; }
html, body { height: 100%; box-sizing: border-box; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #fff; }

#main-content {
    padding: 15px 0;
}

.mat-card {
    margin-bottom: 30px;
}

.mat-card-actions {
    text-align: right;
}

.mat-form-field {
    width: 100%;
}

.mat-drawer-container {
    background: #fff!important;
}

.multiline-label label {
    white-space: normal!important;
}

.form-section {
    padding: 15px 0;

    .row {
        margin-top: 15px;
    }

    h3 {
        font-family: $title-font;
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
        margin-bottom: 0;
    }
}

@media print {
    .dont-print {
        display: none;
    }
}
