$primary-color: #de4624;
$base-color: #2f2d2d;
$title-font: 'Eczar', serif;
$border-radius: 3mm;

$card-size-poker-width: 63mm;
$card-size-poker-height: 88mm;
$card-size-a5-width: 127mm;
$card-size-a5-height: 200mm;

$tracker-size-width: 55mm;
$tracker-size-height: 200mm;
$tracker-size-fold-height: 75mm;
